.row{
  display: flex;
  flex-wrap: wrap;
  background-image: url(https://images7.alphacoders.com/661/661986.jpg);
}
.col{
  width:30%;
  margin:20px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}
.btns{
  text-align: center;
  background-color: bisque;
}
button{
  padding: 10px;
  margin:5px;
  background-color: chartreuse;
  border-radius:10px;
}
img{
  width: 50%;
  height:55%;
  margin: 10px;
  background-color: aliceblue;
  border-radius:100px;
}
.col-row2{
  background-color: cornflowerblue;
  padding:10px;
  width: 100%;
  text-align: center;
}
.col-row3{
  display: flex;
}
.col-row3-col{
  margin: 10px;
  background-color: aquamarine;
  padding: 6px;
  border-radius:10px;
}
.col-row4{
  display: flex;
  border: 2px solid lightgray;
}
.col-row4-col{
  margin: 10px;
}
.header{
  text-align: center;
  background-color: bisque;
}
.header img{
  width:300px;
  height: 100px;
}